.editor {
  // margin-block-start: var(--size-3);
  background: var(--gray-1);
  padding: var(--size-3);
  color: black;
  min-height: 200px !important;
  caret-color: var(--blue-5);
  position: relative;
  font-size: var(--font-size-3);
  overflow-x: hidden;
  cursor: auto;


  [data-slate-custom-leaf='true'] {
    cursor: pointer;
  }


  :where(span,p)::selection{
    background-color: var(--blue-5);
    color: white;
  }

  h1{
    color: unset;
  }
}

.placeHolder {
  color: var(--gray-4);
}

.train_input {
  box-sizing: content-box;
  min-width: 38px;
  width: fit-content;

  outline: none;
  appearance: none;
  border: none;
  &::placeholder {
    color: white;
  }
}

.training_card {
  [data-answered='true'] {
    &[data-correct='true'] {
      background-color: var(--green-5);
    }

    &[data-correct='false'] {
      background-color: var(--red-5);
    }
  }
}

.marker {
  background: var(--yellow-4);
  color: black;
}

.rememberText {
  background: var(--blue-6) !important;
  color: white;
}

