.editor {
  margin-block-start: var(--size-3);
  background: var(--gray-1);
  padding: var(--size-3);
  min-height: 200px !important;
  caret-color: var(--blue-5);
  position: relative;
  font-size: var(--font-size-3);
  overflow-x: hidden;
  cursor: auto;

  [data-slate-custom-leaf='true'] {
    cursor: pointer;
  }
  pre {
    max-inline-size: unset;
    background: rgb(255, 255, 255);
    padding: var(--size-3);
    margin-block: vaR(--size-1);
    white-space: inherit;
    font-size: 75%;
  }

  :where(span,p)::selection{
    background-color: var(--blue-5);
    color: white;
  }
}

.marked_text {
  background: var(--blue-6);
  color: white;
  user-select: none;
}


.actions {
  max-width: var(--size-fluid-10);
  margin: 0 auto;
  margin-block-start: var(--size-3);
  display: flex;
  gap: var(--shadow-3);
  justify-content: space-around;
  button {
    color: white;
    padding-inline: var(--size-4);
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow-3);
    background-color: var(--blue-3);
  }

  button:hover {
    background-color: white;
    color: var(--blue-3);
  }
  button.active {
    opacity: 1;
  }
  button:disabled {
    opacity: 0.2;
  }

  .save_button {
    background-color: var(--green-5);
    color: white;
  }
}

.placeHolder {
  color: var(--gray-4);
}

.train_input {
  box-sizing: content-box;
  min-width: 38px;
  width: fit-content;

  outline: none;
  appearance: none;
  border: none;
  &::placeholder {
    color: white;
  }
}

.training_card {
  // if we answered the question
  [data-answered='true'] {
    &[data-correct='true'] {
      background-color: var(--green-5);
    }

    &[data-correct='false'] {
      background-color: var(--red-5);
    }
  }
}

.marker {
  background: var(--yellow-4);
  color: black;
}

.rememberText {
  background: var(--blue-6) !important;
  color: white;
}

//  new menu
.Menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}
.tool_bar_menu {
  display: flex;
  gap: var(--size-3);
}
.format_button {
  cursor: pointer;
  color: var(--gray-5);
  &:hover {
    color: white;
  }
  &.active {
    color: white;
    font-weight: bold;
  }
}
