@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.editor {
  margin-block-start: var(--size-3);
  background: var(--gray-2);
  padding: var(--size-fluid-4);
  position: relative;
  font-family: 'Fira Code', monospace;
  font-size: var(--font-size-0);
}

.marked_text {
  background: var(--blue-6);
  color: white;
  user-select: none;
}

.actions {
  max-width: var(--size-fluid-10);
  margin: 0 auto;
  margin-block-start: var(--size-3);
  display: flex;
  gap: var(--shadow-3);
  justify-content: space-around;
}

.actions button {
  box-shadow: var(--shadow-3);
  background-color: var(--blue-3);
  color: white;
  padding-inline: var(--size-4);
  border-radius: var(--radius-4);
  transition: all 0.3s ease-in-out;
}
.actions button:hover {
  background-color: white;
  color: var(--blue-3);
}
.actions button.active {
  background-color: var(--blue-5);
}
.actions button:disabled {
  background: var(--gray-4);
}

.placeHolder {
  color: var(--gray-4);
}
.train_input {
  background-color: var(--blue-3);
  color: white;
  height: var(--size-4);
  margin: var(--size-1);
}

.train_input::placeholder {
  color: white;
}

.incorrectAnswer {
  padding-inline: var(--size-1);
  background-color: var(--red-4);
}

.correct_answer {
  background-color: var(--green-5);
  color: white;
  padding-inline: var(--size-1);
}
