.Root {
  margin-block-start: var(--size-3);
  max-width: var(--size-content-3);
  background: var(--gray-2);
  padding: var(--size-5);
}

.field {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--size-3);
  label {
    font-size: var(--font-size-3);
  }
}

.actions {
  margin-block-start: var(--size-3);
  display: flex;
  gap: var(--size-3);

  input {
    background-color: white;

    &[data-primary] {
      background-color: var(--green-4);
      color: white;
    }
  }
}

.error {
  margin-block-start: var(--size-3);
  background-color: var(--red-4);
  color: white;
}
