
.train_input {
  box-sizing: content-box;
  min-width: 38px;
  width: fit-content;

  outline: none;
  appearance: none;
  border: none;
  &::placeholder {
    color: white;
  }
}

.codeElement{
    max-inline-size: unset;
    background: rgb(255, 255, 255);
    padding: var(--size-3);
    margin-block: vaR(--size-1);
    white-space: inherit;
    font-size: 75%;
  position: relative;

  .codeLangs{
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    width: 20vw;
    max-width: 100px;
  }

}
.training_card {
  [data-answered='true'] {
    &[data-correct='true'] {
      background-color: var(--green-5);
    }

    &[data-correct='false'] {
      background-color: var(--red-5);
    }
  }
}

.marker {
  background: var(--yellow-4);
  color: black;
}

.rememberText {
  background: var(--blue-6) !important;
  color: white;
}


.defaultElement{
  font-size: 1rem;
}