.Root {
  h4 {
    border-bottom: var(--size-2) solid var(--green-4);
    display: inline-block;
  }
}

.actions_buttons {
  margin-block-start: var(--size-4);
  display: flex;
  gap: var(--size-3);
}
