.container {
  --light-code-background: #f5f2f0;
  padding: 0 2rem;
}

.main {
  height: 90vh;
}

.card {
  display: flex;
}

.user_input {
  background-color: var(--light-code-background);
  display: flex;
  align-items: center;
}
