.container {
  padding: 0 2rem;
}

.main {
  height: 90vh;
}

.container h1 {
  margin-block-end: var(--size-8);
}
.card input {
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: var(--blue-9);
  max-width: 20%;
}
.card input::placeholder {
  color: white;
}

.user_input {
  background-color: var(--light-code-background);
  display: flex;
  align-items: center;
}
